################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MarketAnal
/InvestingCPR/x64/Debug
/x64/Debug
/FastHTML
